[submodule "assignment/feb_2025/assignment/feb_2025/Student-Course-Management-System"]
	path = assignment/feb_2025/assignment/feb_2025/Student-Course-Management-System
	url = https://github.com/ifeanyicyriacus/Student-Course-Management-System.git
